body {
	font-family: "Palatino", Times, serif;
	background-image: url("../img/fabric.jpg");
	color: white;
}

a {
	text-decoration: none;
	margin: 10px;
	color: white;
}

p {
	background-color: rgba(145, 12, 12, 0.7);
	padding: 10px;
}

h1, h2, h3 {
	color: #EEE843;
	font-style: italic;
	text-shadow: 2px 2px #481B03;
}

strong {
	color: #EEE843;
}


.picture{
	position: relative;
	left: 10px;
	float: left;
	height: 150px;
	width: 150px;
	display: inline-block;
	opacity: 1;
	transform: scale(1,1);
	timing-function: ease-out;
    transition-duration: 550ms;
}

.picture:hover {
	transform: scale(1.2,1.2);
	timing-function: ease-out;
    transition-duration: 550ms;
}

.products {
		display: flex;
  		flex-direction: row;
  		flex-wrap: nowrap;
}

.header {
	background-image: url("../img/banner.jpg");
	background-size: cover;
	height: 150px;
}

.top-menu {	
	background-color: #910C0C;
	padding: 10px;
	margin:10px;
	border-top: 2px solid #EEE843;
	border-bottom: 2px solid #EEE843;

}

.last {
	font-style: italic;
	border-top: 2px solid #EEE843;
	padding: 10px;
}

.news {
	margin-top: 10px;
	margin-left: 20px;
}

